body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background);
}
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.body-layout {
  display: flex;
  flex: 1; 
  overflow-y: hidden;
}

.right-section {
  display: flex;
  flex-direction: column;
  flex: 1; 

}
:root {
  --background: #0d1b2a;   /* fondo principal oscuro y profesional */
  --sider: #1b263b;        /* color sidebar o elementos laterales */
  --accent: #415a77;       /* detalles, bordes y hover */
  --block-bg: #778da9;     /* color de bloques o tarjetas */
  --light-bg: #e0e1dd;     /* fondo claro para contenedores y secciones */
  --text-dark: #0d1b2a;    /* texto principal oscuro */
  --text-light: #e0e1dd;   /* subtítulos o textos claros */
}



