.header {
  background-color: #3182ce;
  color: white;
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
