.custom-sidebar {
  position: fixed;
  left: 0;
  z-index: 2000;
  transition: all 0.3s ease;
  
}
.overlay {
  position: fixed;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.pro-sidebar > .pro-sidebar-inner {
  background-color: #093864 !important; 
  background-image: none !important; 

}


.pro-sidebar .pro-menu-item, 
.pro-sidebar .pro-sub-menu > .pro-inner-item {
  color: white !important;
}


.pro-sidebar {
  height: 100%;
  width: 200px;
  min-width: 200px;
}